 * {
    box-sizing: border-box;
 }
 
 body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Inria Sans', sans-serif;
    color: #0A3641;
    background-color: #EBEFF4;
    background-size: cover;
    max-width: 100%;
    background-image: url('../pictures/bg_home_man.jpg');
 }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex: 0 0 auto;
    height: 350%;
    background: linear-gradient(to bottom, #80A1C9, transparent);
}

.logo-header {
    padding: 20px;
}

.logo-header a {
    font-size: 150%;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #0A3641;
    padding: 0.5em 0.5em 0.5em 0;
}


nav li {
    margin: 0 1.5rem;
}

.fa-solid:hover {
    color: rgb(54, 99, 22);
}


nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.box {
    border: 3px solid black;
}

.line {
    border-bottom: 4px solid #0A3641;
    display: block;
    display: block;
    width: 50%;
    margin: 0 25%;
    border-radius: 70%;
}

.bg_summary_box {
    border: 1px solid lightgrey;
}

.cta {
    background-color: #8AE9D8;
    display: inline-block;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    padding: 0.6em 4em;
    border-radius: 1em;
    border: 0.2em solid #0A3641;
    margin: 4.5em;
}

.cta:hover {
    background: #80A1C9
}
.welcome {
    text-align: center;
}
.welcome img {
    max-width: 35%;
    height: auto;
    display: block;
    margin: 5% auto;
    padding: 0;
}

.welcome h2 {
    margin: 60px;
    font-size: 20px;
}

.footer-one ul {
    list-style: none;
    margin-right: 100px;
    padding: 0;
}
  
.footer-one li {
    margin-bottom: 10px;
}

.footer-two ul {
    list-style: none;
    padding: 0;
}

.footer {
    background-color: #80A1C9;
    color: #0A3641;
    font-family: 'Inria Sans', sans-serif;
  }

.footer-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    margin-left: 2rem;
  }
.footer-one {
    grid-column: 1;
}

.footer-two {
    grid-column: 2;
}

.footer-three {
    grid-column: 5;
}

.brands {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brands li {
    margin-right: 0;
    padding: 10px;
}

/* Contact us */

.contact h1 {
    font-size: 38px;
    text-align: center;
    color: #0A3641;
    font-family: 'Inria Sans', sans-serif;
}

.contact p {
    font-size: 20px;
    text-align: center;
    color: #0A3641;
    font-family: 'Inria Sans', sans-serif;
}

.contact {
    margin-top: 50px;
}

.form form {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    margin: 3em 0 auto;
}

.form label {
    font-weight: bold;
    text-align: center;
    margin-top: 2em;
    color: #0A3641;
    font-family: 'Inria Sans', sans-serif;    
}

.form input[type="name"]{
    width: 70%;
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #0A3641;
    border-radius: 0.25em;
}

.form textarea {
    width: 70%;
    height: 100%;
    padding: 0.5em;
    font-size: 1em;
    font-family: 'Inria Sans', sans-serif;    
    border: 1px solid #0A3641;
    border-radius: 0.25em;
}

.form select {
    width: 70%;
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #0A3641;
    border-radius: 0.25em;
}

.form {
    text-align: center;
}

/* Jackets */

.outdoor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 4em auto;
    max-width: 1000px;
    grid-gap: 10px;
}

.outdoor h2, .outdoor p {
    grid-column: -1/ 1;
    margin: 3px;
    font-family: 'Inria Sans', sans-serif; 
    font-size: 1.2em;  
}

.outdoor-title {
    text-align: center;
    display: contents;
}

.view-more {
    font-size: 0.9em;
    font-weight: 100;
    text-decoration: underline;
}

.outdoor img {
    width: 65%;
}

.hiking {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 4em auto;
    max-width: 1000px;
    grid-gap: 10px;
}
.hiking h2, .hiking p {
    grid-column: -1/ 1;
    margin: 3px;
    font-family: 'Inria Sans', sans-serif; 
    font-size: 1.2em;       
}

.hiking p {
    font-size: 0.9em;
    font-weight: 100;
    margin-bottom: 5%;
}

.hiking-title {
    text-align: center;
    display: contents;
}

.hiking-title span {
    font-size: 0.9em;
    font-weight: 100;
    text-decoration: underline;
}

.hiking img {
    width: 65%;
}

.climbing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 4em auto;
    max-width: 1000px;
    grid-gap: 10px;
}

.climbing h2, .climbing p {
    grid-column: -1/ 1;
    margin: 3px;
    font-family: 'Inria Sans', sans-serif;
    font-size: 1.2em;        
}

.climbing p {
    font-size: 0.9em;
    font-weight: 100;
    margin-bottom: 5%;
}

.climbing-title {
    text-align: center;
    display: contents;
}

.climbing-title span {
    font-size: 0.9em;
    font-weight: 100;
    text-decoration: underline;
}

.climbing img {
    width: 65%;
}

.water-sports {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 4em auto;
    max-width: 1000px;
    grid-gap: 10px;
}

.water-sports h2, .water-sports p {
    grid-column: -1/ 1;
    margin: 3px;
    font-family: 'Inria Sans', sans-serif;
    font-size: 1.2em;    
}

.water-sports p {
    font-size: 0.9em;
    font-weight: 100;
    margin-bottom: 5%;
}

.water-sports-title {
    text-align: center;
    display: contents;
}

.water-sports-title span {
    font-size: 0.9em;
    font-weight: 100;
    text-decoration: underline;
}

.water-sports img {
    width: 65%;
}

.product-box {
    border: 3px solid black;
    border-radius: 0.2em;
    margin: 0 10%;
    text-align: center;
    background-color: #fff;
}

.product-box p {
    font-size: 1em;
    font-weight: bold;
    color: black;
}

.product-box h3 {
    font-weight: 300;
}

.product-box:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

/* About us */

.about-us {
    text-align: center;
}
.about-us img {
    max-width: 40%;
    height: auto;
    display: block;
    margin: 3% auto;
    padding: 0;
}

.about-us p {
    padding: 0 30% 5%;
 
}

/* Check-out-success */

.success {
    text-align: center;
}

.success h1 {
    font-size: 60px;
}

.success h2 {
    font-size: 25px;
}

.success h3 {
    padding: 5% 25% 0 25%;
}

/* Check-out */

 .container-check {
    max-width: 100% ;
    margin-left: auto;
    margin-right: auto;
    padding: 5em 5em;
 }

 .product-info ul {
    list-style: none;
    padding: 0;
    line-height: 3;
 }

 .product-info {
    background: #ddd;
    border: 1px solid #000;
 }

 .product-info h2, .product-info ul {
    text-align: left;
    margin: 0 0 1rem 0;
 }

 .total {
    text-decoration: underline;
    font-weight: bold;
 }

 .checkouttitle {
    text-align: center ;
 }

 .check-out-box > * {
    padding: 2.5em 1em;
 }

 .shipping-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px
 }

 .shipping-form label {
    display: none;
 }

 .shipping-form p {
    margin: 0;
 }

 .full {
    grid-column: 1 / 3;
 }

 .cta-purchase {
    display: grid;
    grid-column: 1 / 3;
    margin: auto;
 }

.shipping-form, .shipping-form input {
    width: 100%;
    padding: 1em;
    border: 1px solid #000;
}


/* Jacket specific */

.jacket-specific-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin: 5rem;
}

.specific-img img {
    max-width: 100%;
    border: 0.1em solid #000;
}

.specific-description {
    margin: 0;
}

.price-description {
    font-weight: bold;
    margin-top: 30px;
    text-decoration: underline;
    color: brown;
}

.cta-cart {
    margin: 20px auto;

}

label {
    display: none;
}
    
/* Media Queries */

@media (max-width: 1220px) {
    .jacket-specific-container {
        grid-template-columns: auto;
    }
}

@media  (max-width: 900px) {
    .container-check {
        padding: 4em;
    }
    
}

@media (max-width: 650px) {
    .outdoor, .hiking, .water-sports, .climbing {
        grid-template-columns: auto;
        grid-gap: 30px;
    }

    .about-us p {
        padding: 0 15% 5%;
    }

    .about-us img {
        max-width: 60%;
    }

    .contact p {
        margin: 10%;
    }

    .welcome img {
        max-width: 50%;
        margin: 15% auto;
    }
}

@media (max-width: 425px) {
    .cta-cart {
        padding: 0.6em 1.9em;
    }

    .container-check {
        padding: 3em;
    }

    .shipping-form form {
        grid-gap: 40px;
        }

    nav ul {
        padding: 0 0 0 75px;
    }

    .logo-header {
        padding: 20px 0 20px 130px;
    }
    }


@media (min-width: 1200px) {
    .check-out-box {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}
